/* dark blue: #081447 */

body {
    background-color: lightsteelblue;
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.nav-bar {
    align-items: center;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
    align-items: center;
    color: orange;
    display: flex;
    font-size: x-large;
}

.auth {
    margin-right: 16px;
}


.auth-button {
    background-color: sandybrown; /*#ff9955 cor do logo*/
    border: 4px transparent;
    border-radius: 0.25rem;
    color: darkblue;
    padding: 12px 16px;
}

.start-button{
  background-color: sandybrown; /*#ff9955 cor do logo*/
  margin-top: 16px;
  border: 4px transparent;
  border-radius: 0.25rem;
  color: darkblue;
  padding: 16px 100px;


}
.radiodiv{
  display: flex;
  flex-direction: row;
}

button:hover {
    color:darkslateblue;
    cursor: pointer;
}

.inputbutton:hover {
    color:darkslateblue;
    cursor: pointer;
}

.inputbutton:active {
    background-color: wheat;
    color: darkblue;
}

.auth-button:active {
    background-color: wheat;
    color: darkblue;
}

#game-board {
    background-color: green;

}

#back-drop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#initial-page {
    text-align: center;
}

.initial-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid darkblue;
    border-radius: 0.25rem;
    /* color: darkblue; */
    padding: 12px 16px;
}


.initial-button:active {
    background-color: wheat;
    color: darkblue;
}

.radio-label{
  font-size: medium;
  color: maroon;

}

.dialog {
    position: absolute;
    background-color: lightgray;
    top: 20%;
    left: 40%;
    border: 1px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 20%;
    min-height: 300px;
    font-size: x-large;
    font-weight: bold;
    color: sandybrown;
}

#auth-dialog {
}

#rules-dialog {
    text-align: center;
}

#ranking-dialog {
}

#settings-dialog {

}

.dialogForm {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.authInput {
    margin-bottom: 4px;
}

.authSubmit {
    margin-top: 12px;
}

.form-label {
    color:darkblue;
    font-size: medium;
}

.hidden {
    display: none !important;
}
