/* dark blue: #081447 */

body {
    background-color: lightsteelblue;
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#page-content {
    display: flex;
    justify-content: center;
}

.nav-bar {
    align-items: center;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
    align-items: center;
    color: orange;
    display: flex;
    font-size: x-large;
}

.auth {
    margin-right: 16px;
}

.auth-button {
    background-color: sandybrown; /*#ff9955 cor do logo*/
    border: 4px transparent;
    border-radius: 0.25rem;
    color: darkblue;
    padding: 12px 16px;
}

#start-button{
  margin-top: 16px;
  padding: 16px 100px;
}
.radiodiv{
  display: flex;
  flex-direction: row;
}

button:hover {
    color:darkslateblue;
    cursor: pointer;
}

.auth-button:active {
    background-color: wheat;
    color: darkblue;
}

#buttons-div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.game-button {
    background-color: gainsboro;
    padding: 12px 26px;
}

#back-drop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#initial-page {
    text-align: center;
}

.initial-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid darkblue;
    border-radius: 0.25rem;
    padding: 12px 16px;
}

.initial-button:active {
    background-color: wheat;
    color: darkblue;
}

.rules-p {
    text-align: center;
    font-size: x-large;
    color: tomato;
    margin-top: 40px;
}

.radio-label{
  font-size: medium;
  color: maroon;
}

#rules {
    display: block;
    color: darkslateblue;
    font-size: medium;
    text-align: left;
}

.dialog {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    text-align: center;
    padding: 16px;
    width: 20%;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    min-height: 300px;
    font-size: x-large;
    font-weight: bold;
    color: maroon;
}

.settings-div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px;
}

hr {
    margin-bottom: 0px;
}

#rules-dialog {
    width: 30%;
}

#leave-dialog {
    min-height: 64px;
    font-size: larger;
    display: block;
}

.leave-button {
    padding: 8px;
    margin-top: 8px;
}

#error-message {
    color:red;
    font-size: x-small;
    text-align: center;
}

#game-area {
    background-color: #803300; /* saddle brown ??? */
    display: inline-block;
    margin-top: 8px;
}

#score-board {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0px;
    border-top: 2px solid white;
    background-color: black;
    color: white;
}

.score-column {
    width: 150px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.name-display {
    border-bottom: 2px solid white;
    text-align: center;
    padding: 2px;
}

.score-display {
    border-color: black;
    border-style: solid;
    border-width: 0px 1px;
    text-align: center;
    padding: 2px;
}

#message-panel {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 4px;
    margin: 0px 8px 8px;
}

#game-board {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

#settings-form {
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
}

.bank {
    height: 192px;
    width: 84px;
    margin: 8px 12px;
    border-radius: 44%; /* alterar se tamanho mudar */
    background-color: sandybrown;
    border: 4px inset gainsboro
}

.house {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    width: 84px;
    height: 84px;
    border-radius: 30%;
    background-color: sandybrown;
    border: 4px inset gainsboro;
    box-shadow: inset 5px 5px rgba(0,0,0,0.3);
}

#houses-div {
    display: flex;
    flex-wrap: wrap-reverse;
}

#canvas {
    position: absolute;
    pointer-events: none;
}

#name-display {
    color: sandybrown;
    font-size: larger;
}

#name-area {
    display: flex;
    flex-direction: column;
}

#sign-out {
    color: white;
    align-self: flex-end;
    font-size: small;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.authInput {
    margin-bottom: 4px;
}

.auth-submit {
    margin-top: 12px;
    padding: 8px;
}

.form-label {
    color:darkblue;
    font-size: medium;
}

.clickable {
    cursor: pointer;
    border-color: #8b8bfc;
}

.clickable:hover {
    cursor: pointer;
    border-color: blue;
}

input[type=submit] {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
